<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	metadata-complete="false" version="3.0">
	<servlet-mapping>
		<servlet-name>javax.ws.rs.core.Application</servlet-name>
		<url-pattern>/rest/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>br.com.manualdosnoivos.service.CasamentoService</servlet-name>
		<servlet-class>br.com.manualdosnoivos.service.Casamento</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>br.com.manualdosnoivos.service.CasamentoService</servlet-name>
		<url-pattern>/services/Casamento</url-pattern>
	</servlet-mapping>

	<servlet>
		<description>Controller de telas</description>
		<display-name>TelasServletController</display-name>
		<servlet-name>TelasServletController</servlet-name>
		<servlet-class>br.com.manualdosnoivos.servlet.TelasServletController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TelasServletController</servlet-name>
		<url-pattern>/pages/*.do</url-pattern>
	</servlet-mapping>
</web-app>